/* Global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --border: 0.14rem solid rgba(70, 61, 61, 0.4);
  --bg-color: #fef7e1;
  /* --box-shadow: 0.2rem 0.2rem #2c2c2c1c; */
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

label {
  font-size: 0.9rem;
  font-weight: 700;
}

input,
button {
  border: var(--border);
  border-radius: 0.3rem;
  height: 1.8rem;
  box-shadow: var(--box-shadow);
}

input {
  padding-left: 0.5rem;
}

button {
  width: 70%;
  font-size: 0.85rem;
  font-weight: 700;
}

input:focus,
button:hover {
  border: 0.14rem solid rgb(70, 61, 61);
}

#id-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 2rem;
  background: var(--bg-color);
}

#calc-form {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 1.5rem;
}

#mensagem {
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: 3rem;
}

.inputs {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.inputs div {
  display: flex;
  flex-flow: column;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.btn-ok {
  background-color: rgba(40, 180, 40, 0.4);
}

.btn-warn {
  background-color: rgba(180, 180, 50, 0.4);
}
